<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="container mt-5">
      <div class="bg-body-tertiary p-5 rounded">
        <h1>Student Portal</h1>
        <p class="lead">
          This application allows you to store and manage student information
          efficiently. You can add new students, view existing records, and keep
          track of their details such as Name, Age, and Course. Click the button
          below to get started.
        </p>
        <div
          class="d-flex flex-column flex-lg-row justify-content-center gap-3 m-5"
        >
          <a
            class="btn btn-lg btn-primary w-100 w-lg-auto"
            href="/form"
            role="button"
            >CREATE</a
          >
          <a
            class="btn btn-lg btn-primary w-100 w-lg-auto"
            href="/delete_Data_Row"
            role="button"
            >DELETE</a
          >
          <a
            class="btn btn-lg btn-primary w-100 w-lg-auto"
            href="/get_data"
            role="button"
            >RETRIVE</a
          >
          <a
            class="btn btn-lg btn-primary w-100 w-lg-auto"
            href="/update"
            role="button"
            >UPDATE</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
